@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
  background: linear-gradient(
    to bottom,
    rgba(27, 30, 44, 0.8) 0%,
    rgba(27, 30, 44, 0) 100%
  );
}

.work-sans {
  font-family: "Work Sans", sans-serif;
}

#menu-toggle:checked + #menu {
  display: block;
}

.hover\:grow {
  transition: all 0.3s;
  transform: scale(1);
}

.hover\:grow:hover {
  transform: scale(1.02);
}
